.Basket {
    position: relative;
    transition: 0.4s;
    width: 7rem;
    height: 7rem;
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    background: white;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px var(--main-boxShadowBlack);
    cursor: pointer;
    animation-name: FadeInRight;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0.4s;
    animation-fill-mode: both;
 
}
@media (max-width: 1000px) {
    .Basket--Open {
        width: 100% !important;
        height: 60% !important;
    }
}
@media (min-width: 1000px) {
    .Basket {
        right: 5rem;
        bottom: 5rem; 
    }
}
.Basket--Close {
    display: grid;
    place-items: center;
}
.Basket--Close:hover {
    transform: scale(1.1);
}

.Basket--Open {
    padding: 0px 20px;
    border-radius: 20px;
    transition: 0.4s;
    width: 50rem;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
  
}

.Basket__ShoppingCartIcon {
    width: 40%;
    animation-name: FadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0.4s;
    animation-fill-mode: both;
}
.Basket__Exit {
    animation-name: FadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-delay: 0.4s;
    animation-fill-mode: both;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
}
.Basket__FullPrice {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1.5em 1.5em 1fr;
}