.BasketProduct {
    height: auto;
    padding: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1.5em 1.5em 1.5em 1.5em 1fr;
    font-size: 1.5em;
    grid-gap: 5px;
    margin: 20px 0;
    animation-name: FadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    /* box-shadow: inset 0px 0px 10px -2px var(--main-boxShadowBlack); */
    border-radius: 3rem;
}

.BasketProduct__Image {
    width: 100px;
    grid-row: 1/7;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    border-radius: 3rem;
}
.BasketProduct__Name {
    margin-left: 10px;
    grid-row: 2/3;
}
.BasketProduct__Price {
    margin-left: 10px;
    grid-row: 3/4;
}
.BasketProduct__Counter {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    grid-row: 4/5;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    font-size: 1.5em;
    
}
.BasketProduct__Delete {
    margin-left: 10px;
    grid-row: 5/6;
}