.Header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    text-align: center;
    flex-direction: column;
}
.Header__Title {
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.6em;

    animation-name: FadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
@media (max-width: 767px) {
    .Header__Title {
        line-height: 1.2em;
    }
}
.Header__Description {
    font-size: 0.5em;

    animation-name: FadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-fill-mode: both;
}