.Hero__Card {
    margin: 25px;
    width: 37rem;
    height: 45rem;
    box-shadow: 0px 0px 10px 1px var(--main-boxShadowBlack);
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2333333344' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    padding: 50px 40px;
    display: grid;
    grid-template-rows: auto auto 1fr;
    color: var(--main-black);
    border-radius: 20px;
}
.Hero__Title {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.Hero__Description {
    font-size: 1em;
    font-weight: lighter;
    margin: 0 0 20px 0;
}

.Hero__Button {
    font-size: 1em;
   align-self: flex-end;
   font-weight: bold;
   cursor: pointer;

   background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(240,234,229,1) 100%);
    background-position: 0rem 4rem;
    background-size: 150rem 150rem;
    padding: 0.7rem 2rem;
    border-radius: 20px;
    width: 20rem;
    height: 4rem;

}