.ProductCard {
    margin: 25px;
    width: 37rem;
    height: 50rem;
    padding: 50px 40px;
    display: grid;
    grid-template-rows: 40px 30px auto 50px;
    color: var(--main-black);
    justify-items: center;
    align-items: center;
}
.ProductCard__Image {
    max-width: 80%;
}
.ProductCard__AddToCart {
    cursor: pointer;
    transition: background 0.4s ease-in;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,234,229,1) 100%);
    background-position: 0rem;
    background-size: 150rem;
    padding: 0.7rem 2rem;
    border-radius: 20px;
    width: 20rem;
    height: 4rem;
    display: grid;
    place-items: center;

}
.ProductCard__AddToCart:hover {
    transition: background 0.20s ease-in;
    background-position: 20rem;
}
.ProductCard__Price {
    font-size: 0.9em;
}
.ProductCard__Name {
    font-size: 1.1em;
}