.ProductCard {
    margin: 25px;
    width: 37rem;
    height: 45rem;
    padding: 50px 40px;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    color: var(--main-black);
    align-items: center;
    justify-content: center;
}
.ProductCard__Image {
    width: 100%;
}