.Header {
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 4rem 5rem 1.3fr;
    font-size: 3.2rem;
    text-align: center;
    flex-direction: column;
    color: var(--main-black);
    scroll-snap-align: start;
}
@media (max-width: 1000px) {
    .Header {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 5rem 7rem 1fr 250px;
    }
}


.Header__Title {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.6em;

    animation-name: FadeIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}

.Header__Description {
    font-size: inherit;
    font-weight: 300;
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    font-size: 0.5em;

    animation-name: FadeIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-delay: 0.4s;
    animation-fill-mode: both;
}
.Header__Image {
    animation-name: FadeIn;
    animation-duration: 0.7s;
    animation-timing-function: ease-in;
    animation-delay: 1.2s;
    animation-fill-mode: both;


    grid-column: 2/3;
    grid-row: 1/5;
    width: 80%;
    max-width: 600px;
    align-self: center;
    justify-self: center;
}

@media (max-width: 1000px) {
    .Header__Title {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .Header__Description {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .Header__Image {
        grid-column: 1/2;
        grid-row: 4/5;
        max-width: 450px;
        align-self: flex-start;
    }
 
}