.App {
    padding: 0 5vw;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow: scroll;
    scroll-snap-points-y: repeat(100vh);
}
.App > * {
    width: 90vw;
    max-width: 90vw !important;
    scroll-snap-align: start;
}